/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .about-us-page .ynsi-lead-profile .ynsi-lead-profile-text{
        margin-top: 15px;
    }
    .about-us-page .ynsi-lead-profile .lead-info {
        padding-left: 0;
    }
    .about-us-page .ynsi-lead-profile .lead-img img {
        width: 100%;
    }
    .about-us-page .about-us-images {
        margin-top: 15px;
    }
    /* Home page */
    .hp_yn_si_scolution_bottom img {
        width: 100%;
    }
    .hp_yn_si_module_store_list {
        margin-bottom:  5px;
    }
    .hp_ynsi_product_right {
        overflow:  hidden;
    }
    /* Blog page */
    .blog-detail-page .blog-wrap {
        margin-bottom: 50px;
    }
    /* Page feature */
    .featured-project-page .section-content-item figure {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .featured-project-page .section-content-item figure img{
        width: 100%;
    }
    /* Request demo page */
    .ynsi-notes {
        margin-bottom: 50px;
    }
    /*  */
    .hp_yn_si_review .left-arrow {
        left:  -30px;
    }
    .hp_yn_si_review .right-arrow {
        right:  -30px;
    }
    /*  */
    div#footer_copyright .footer_credits,
    div#footer_copyright .footer_copyright {
        text-align: center;
    }
    .follow-ynsi,
    .younet-groups {
        margin-top: 20px;
    }
    nav > ul > li.ynsi-signin a.menu-link {
        margin-left: 0;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* About us */
    .about-us-page .lead-name {
        margin-top: 10px;
    }
    /* Home page */
    .product_sum {
        padding-left: 15px;
    }
    .hp_ynsi_product_right {
        margin-top:  30px;
    }
    .hp_ynsi_product {
        padding-bottom: 20px;
    }
    .hp_yn_si_module_store_title, .hp_yn_si_feature_project_title, .hp_yn_si_request_demo_form_title {
        font-size: 32px;
    }
    /* Page feature */
    .featured-project-page .section-content-item figure {
        width: 100%;
    }
    a.btn-view-all-project {
        width: 70% !important;
    }
    /* Customer support */
    .customer-support-page .checkbox {
        float: none;
    }
    .customer-support-page  .btn-login {
    }
    /*  */
    
    .customer-reivew p {
        font-size: 16px;
    }
    .module-item .view-profile {
        margin-bottom:  20px;
    }
    .module-page .left-arrow {
        left: 0 !important;
    }
    .module-page .right-arrow {
        right: 0 !important;
    }
    .module-item h1 {
        font-size: 30px !important;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .hp_yn_si_review .left-arrow {
        left:  -10px;
    }
    .hp_yn_si_review .right-arrow {
        right:  -10px;
    }
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}
